/* ===============================
   AI JobVerify Premium Theme
================================== */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

html, body, [class*="css"]{
    font-family: 'Inter', sans-serif;
}

/* Background */

.stApp{
    background:
        radial-gradient(circle at top left,#1E3A8A 0%,transparent 35%),
        radial-gradient(circle at bottom right,#0891B2 0%,transparent 30%),
        linear-gradient(135deg,#020617,#0F172A,#111827);
}

/* Main */
@media (max-width:768px){

.main-title{
    font-size:30px;
}

.sub-title{
    font-size:15px;
}

h1{
    font-size:24px;
}

h2{
    font-size:20px;
}

h3{
    font-size:18px;
}
}

/* Sidebar */

section[data-testid="stSidebar"]{
    background:rgba(15,23,42,.95);
    backdrop-filter:blur(18px);
    border-right:1px solid rgba(255,255,255,.08);
}

/* Header */

.main-title{
    font-size:52px;
    font-weight:900;
    color:white;
    margin-bottom:5px;
}

.sub-title{
    color:#94A3B8;
    font-size:20px;
    margin-bottom:30px;
}

/* Search */

.stTextInput input{
    background:rgba(255,255,255,.05);
    border:1px solid rgba(255,255,255,.10);
    border-radius:18px;
    color:white;
    font-size:18px;
    height:60px;
    padding-left:18px;
}

.stTextInput input:focus{
    border:1px solid #38BDF8;
    box-shadow:0 0 15px rgba(56,189,248,.35);
}

/* Button */

.stButton>button{

    height:60px;
    width:100%;

    border:none;

    border-radius:18px;

    color:white;

    font-size:18px;

    font-weight:700;

    background:linear-gradient(90deg,#2563EB,#06B6D4);

    transition:.3s;

    box-shadow:0 12px 25px rgba(37,99,235,.35);

}

.stButton>button:hover{

    transform:translateY(-3px);

    box-shadow:0 18px 35px rgba(37,99,235,.55);

}

/* Metric Cards */

div[data-testid="stMetric"]{

    background:rgba(255,255,255,.05);

    backdrop-filter:blur(14px);

    border-radius:20px;

    border:1px solid rgba(255,255,255,.08);

    padding:22px;

    box-shadow:0 10px 35px rgba(0,0,0,.35);

    transition:.25s;

}

div[data-testid="stMetric"]:hover{

    transform:translateY(-5px);

}

/* Tabs */

button[data-baseweb="tab"]{

    font-size:17px;

    font-weight:700;

    color:#CBD5E1;

}

button[data-baseweb="tab"][aria-selected="true"]{

    color:#38BDF8;

}

/* Alerts */

.stAlert{

    border-radius:18px;

}

/* Progress */

.stProgress > div > div{

    background:linear-gradient(90deg,#3B82F6,#06B6D4);

}

/* Divider */

hr{

    border:1px solid rgba(255,255,255,.08);

}